{% extends 'gestion/base.html' %}
{% block title %}Add a New Employee{% endblock %}
{% block companies_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Companie Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'gestion:detail' companie.id %}">
                            {% if companie.companie_logo %}
                                <img src="{{ companie.companie_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ companie.companie_name }}</h1>
                    <h2>{{ companie.address }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Employee Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'gestion:detail' companie.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'gestion:create_employee' companie.id %}">Add New Employee</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Employee</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="companie" value="{{ album }}">
                        {% include 'gestion/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

